@font-face {
    font-family: Roboto;
    src: url(..//../fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: SF UI Text;
    src: url(..//../fonts/SFUIText-Regular.ttf)
}

body {
    background-color: #E5E5E5;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.semicircle-1-div {
    display: flex;
    z-index: 1;
}

.semicircle-2-div {
    display: none;
    z-index: 1;

}

.box {
    width: 414px;
    height: 896px;
    background-color: #FFFFFF;
    box-shadow: -3px -4px 28px rgba(103, 103, 103, 0.25), 6px 6px 25px rgba(103, 103, 103, 0.25);
    border-radius: 15px;
    position: absolute;
    z-index: 2;
}




.header {
    width: 375px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-GS {
    font-family: SF UI Text;
    font-size: 14px;
    margin-left: 3.5px;
    color: black;

}

.rightpart {
    display: flex;
    align-items: center;
    gap: 8px;
}

.p-AM {
    font-family: SF UI Text;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 14px;
}



.choos {
    display: flex;

}

.choos p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 36px;
    color: #000000;
}

.Customize {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #414141;
}



#btn-1 {
    position: absolute;
    width: 133px;
    height: 49px;
    background: #FFFFFF;
    box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.25);
    border-radius: 24.5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    color: #363636;
    border: none;
    z-index: 2;
    right: 195px;
}


#btn-2 {

    width: 244px;
    height: 49px;
    background-color: #C4C4C4;
    border-radius: 24.5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    color: #747474;
    padding-top: 7px;
    padding-left: 140px;
    border: none;
    z-index: 1;
}


.skip {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: flex-end;
    color: #000000;
}


.circle-sm-div {
    display: flex;
    width: 46px;
    height: 43px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: -2px -2px 4px rgba(103, 103, 103, 0.25), 2px 2px 4px rgba(100, 100, 100, 0.25);
}

.circle-sm-div-2 {
    display: none;
    width: 46px;
    height: 43px;

    border-radius: 50%;
    box-shadow: -2px -2px 4px rgba(103, 103, 103, 0.25), 2px 2px 4px rgba(100, 100, 100, 0.25);
}

.circle-1-div {
    width: 156px;
    height: 156px;

    border-radius: 50%;
    background: linear-gradient(48.07deg, #FF3333 10.71%, rgba(255, 223, 57, 0.76) 79.03%);
}

.circle1-div {
    display: flex;
}

.circle2-div {
    display: none;
}


.moon-div {

    width: 145px;
    height: 145px;
    border-radius: 50%;
    margin-left: -97px;
    margin-top: 17px;
    background: #383838;
    z-index: 2;
}

.moon {
    width: 156px;
    height: 156px;
    left: 40px;
    top: 20px;
    border-radius: 50%;
    z-index: 1;
    background: linear-gradient(48.07deg, #6732FE 10.71%, #F344EE 79.03%);
}

#imgarrow {
    display: flex;
}

#imgarrow-2 {
    display: none;
}






@media screen and (max-width: 1024px) {
    .div-svg {
        left: 20px;
    }
}